@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	margin: 0;
	padding:0;
}
html{
	 height: 100%;
}
body{
	max-width: 100%;
	height: 100%;
	text-transform: uppercase;
	color:white;
	background-color: #0A0B0D;
	overflow: hidden;
	display: flex;
	flex-direction:column;
}
.wrapper{
	display: flex;
	flex:1;
}
.left-block{
	float: left;
	flex: 0 0 370px;
	height: 100%;
	background-color: black;
	transition: margin-left 1s;
	position: relative;
}
.left-block.active{
	margin-left:-325px;
	background-color: #0A0B0D;
}

.left-menu-hide,.left-menu-show{
	width: 48px;
	height: 33px;
	margin:10px;
	position: fixed;
	background-image: url(../img/button.png);
	background-color: transparent;
    border: none;
}
.left-menu-show{
	position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    margin:10px 0 0 0;
}
.hide-right-menu{
	width: 100%;
    height: 100%;
    position: absolute;
}
.block-form-left,.block-form-right{
	margin: 125px auto;
	max-width: 280px;
}

.i-default{
	width: 280px;
	height: 66px;
	box-sizing: border-box;
	background-color: rgba(230, 120, 22, 0.15);
	border: none;
	border-bottom:1px solid #DA7A18; 
    margin-bottom: 30px; 
    color:#fff;
	padding-left: 10px;
	font-size:18px;
}
.i-default::-webkit-input-placeholder{
	color: #fff;
}
.i-date{
	background: rgba(230, 120, 22, 0.15) url(../img/date-icon.png)  238px 4px / 37px no-repeat;
}
.i-search{
	background: rgba(230, 120, 22, 0.15) url(../img/lupa.png)  238px 4px / 37px no-repeat;
}
.i-select{
	background: rgba(230, 120, 22, 0.15) url(../img/expand-more.png)  238px 4px / 37px no-repeat;
}
.icon{
	display: block;
	position: relative;
	width: width: 1.5em; 
	height: 1.5em;
	margin: 0 auto;
}
.icon::before{
	content: "";
	position: absolute;
}
.icon::after{
	content: "";
	position: absolute;
}
.dropp1,.dropp2{
	width: 100%;
	margin-bottom: 30px;
}
.dropp-header,.dropp-header2{
	background-color: rgba(230, 120, 22, 0.15);
	color:#fff;
	border-bottom: 2px solid #DA7A18;
	display: flex;
	align-items:stretch;
	justify-content:flex-start;
}
.dropp-header-title,.dropp-header-title2{
	display: flex;
    align-items: center;
	padding: .8em .5em;
	flex:8;
}
.dropp-header_bth{
	display: block;
	color:#fff;
	padding: .8em .5em;
	flex:1;
	transition:(all .3s ease-in-out);
}

.dropp-body,.dropp-body2{
	overflow: hidden;
	width: 100%;
	max-height: 0;
	transition(all .3s ease-in-out);
}
.dropp-body2{
	overflow: hidden;
}
.js-open{
	max-height: 20em;
}
label{
	display: flex;
	justify-content:center;
	font-size: .875em;
	text-decoration: none;
	padding: 1em .5em;
	font-weight: 400;
	background-color: rgba(230, 120, 22, 0.15);
	cursor: pointer;
}
label:hover{
	background-color: #2C2A27;
}
label > input{
	display: none;
}
label:last-child{
	border-bottom:1px solid #DA7A18;
}
input:focus,select:focus{
	outline: none;
}
.checkbox-group{
	height: 155px;
    background-color: #0D0D0D;
    padding: 25px 0 0 10px;
    display:block;
    border-bottom:1px solid #DA7A18;
    margin-bottom: 30px; 
}
.checkbox-group input{
    width: 35px;
    height: 35px;
    -webkit-appearance:button;
}
.checkbox-group > div{
	width: 50%;
	position: relative;
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 35px;
}
.checkbox-group p{
	margin-left: 20px;
}
.checkbox{
	width: 35px;
    height: 35px;
    float: left;
    position: relative;
    background-color: #2D1E10;
}
.checkbox span{
	opacity: 0;
	pointer-events:none;
}
.checkbox input:checked + span{
	opacity: 1;
}
.checkbox span:before{
	content: '';
    background-color: white;
    height: 5px;
    width: 14px;
    position: absolute;
    left: 7px;
    top: 15px;
    transform: rotate(45deg);

}
.checkbox span:after{
	content: '';
    background-color: white;
    height: 5px;
    width: 34px;
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-45deg);

}
.right-block{
	width: 370px;
	height: 100%;
	background-color: black;
	position: absolute;
    right: -370px;
    transition: right 1s;
    overflow-y: scroll;
}
.right-block.active {
	right: 0;
}
.but-create{
	width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #E67817;
    font: 16px Lato;
    cursor: pointer;
}
.table-content{
	width: 100%;
	height: 100%;
}
table{
	width: 100%;
    text-align: center;
    border-collapse: collapse;
	color: #954E12;
}
table th{
	border-bottom: 1px solid #737374;
}
table tr{
	height: 45px;
}
table td{
	color: #fff;
}
table td:nth-child(1),table th:nth-child(1){
	position: relative;
}
table th:nth-child(1):after{
	background-color: #954E12;
}
table td:nth-child(1):after{
	background-color: #737374;
}
table td:nth-child(1):after,table th:nth-child(1):after{
	content: '';
	width: 1px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 5px;
}
table tbody tr:nth-of-type(2n){
	background-color: #0F1012;
}
table tbody tr:hover{
	background-color: #353E44;
}
.button-delete{
	width: 43px;
	height: 50px;
	background-image: url(../img/button-delete.png);
	background-color: transparent;
    border: none;
}
#show-menu{
	width: 50px;
	height: 47px;
	background-image: url(../img/button-create.png);
	background-color: transparent;
    border: none;
}

button:focus{
	outline: none;
}
footer{
	width: 100%;
    height: 66px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: rgba(230, 120, 22, 1);
}

@media screen and (max-width: 650px){
	.left-block{
		margin-left: -370px;
		background-color: #0A0B0D;
		position: absolute;

	}
}
@media screen and (max-width: 412px){
	.right-block {
	    width: 370px;
	    height: 66%;
	    background-color: black;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    overflow-y: scroll;
	}
	.left-block {
	    width: 400px;
	    height: 66%;
	    background-color: black;
	    transition: margin-left 1s;
	    position: absolute;
	    bottom: 0;
	}
}